:root {
  --h1-color: #f6f6f6;
  --font-color: #f1f1f1;
  --rockeat-color: #8257e6;
}
section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
    color: var(--h1-color);
  }

  ul {
    list-style: none;
  }
  li {
    & + {
      margin-top: 28px;
    }
  }
  p {
    font-size: 14px;
    color: var(--font-color);
    margin-top: 8px;
  }
  a {
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    color: var(--rockeat-color);
  }
}
